* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Navbar */
.fa-solid {
    padding-left: 100px;
}

.btn-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.btn-nav {
    background-color: rgb(248, 11, 129);
    width: 150px;
    border: none;
}
/* home page. */
div.bg{
    background-image: url(https://pandaads.foodpanda.com/wp-content/uploads/2024/05/foodpanda-panda-ads.webp);
    height: 450px;
    width: 100%;
    object-fit: contain;
    background-position: center;
}
div.bg h1{
    font-size: 60px;
    font-weight: 700;
}
div.bg button{
    color: rgb(248, 11, 129);
    font-family: sans-serif;
}
button:hover{
    opacity: 80%;
}
div.bg-text{
    margin-left: 160px;
}
a.nav-link{
    font-family: sans-serif ;
}
/* section 01 */
